<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button color="success" fill="clear" class="botonLindo" expand="full" routerLink="/list/cosasLindas">
            <ion-icon name="people"></ion-icon>
            PPS-4A
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="success" fill="clear" class="botonFeo" expand="full" routerLink="/list/cosasFeas">
            <ion-icon name="people"></ion-icon>
            PPS-4B
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>