ion-button{
    color: white !important;
    --ion-color-base: white !important;
    font-weight: bolder;
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    //text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

.botonLindo{
    color: white !important;
    --ion-color-base: white !important;
    background-image: url('../../../assets/images/fondo-boton-1.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.botonFeo{
    color: white !important;
    --ion-color-base: white !important;
    background-image: url('../../../assets/images/fondo-boton-2.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ion-grid{
    height: 100%;
    width: 100%;
    margin: 0 !important; 
    padding: 0;
}

ion-row{
    width: 100%;
    height: 50%;
    margin: 0;    
    padding: 0;
}

ion-col{
    margin: 0;    
    padding: 0;
}